<!DOCTYPE html>
<html ng-app="SquinderApp">
<head>
  <title>SquinderApp</title>
  
   <base href="/test/"> 
   <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

  <%= Gon::Base.render_data({}) %>
  <%= stylesheet_link_tag    'application' %>

  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-animate.js"></script>
  <script src="//maps.google.com/maps/api/js"></script>
  
  <script src="//cdn.jsdelivr.net/underscorejs/1.8.2/underscore-min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/gsap/latest/plugins/CSSPlugin.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/gsap/latest/easing/EasePack.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenLite.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/gsap/1.15.0/utils/Draggable.min.js"></script>

  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/ng-dialog/0.3.12/css/ngDialog-theme-default.min.css">
 <!--  <link href='//fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'> -->
  <link href='//fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
  <script src="<%= asset_path('ng-map.min.js') %>"></script>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

</head>
<body>


<div id="all-project-wrap">
  <div class="main-nav-wrapper clearfix">
    <div id="logo-left">
      <div id="squash-logo">
        <div id="dot"></div>
      </div>
      <a href="match"><h2 class="main-name">SQUASH MATCH</h2></a>
    </div>
    <div id="nav-right">
      <ul> 
        <% if user_signed_in? %>
        <%if current_user.first_name? %>
        <li class="li-name"><%= current_user.first_name %></li>
        <% end %>       
        <li><%= link_to "EDIT", edit_user_registration_path, target: "_self"%></li> 
        <li><%= link_to "LOGOUT", destroy_user_session_path, method: :delete %></li>        
      <% else %>
        <li><%= link_to "LOGIN", new_user_session_path, target: "_self"%></li>    
        <li><%= link_to "SIGNUP", new_user_registration_path, target: "_self"%></li>
      <% end %>
        
        <li><a href="users/new_profile">New-p</a></li>  
        <li><a href="phone">I-PHONE</a></li>  
        <li><a href="profile">PROFILE</a></li>
        <li><a href="users/all_users">All USERS</a></li>
        <li><a class="press" href="search">SEARCH</a></li>
      </ul>  
    </div>
  </div>
  
    <%= yield %>
    <ng-view></ng-view>


    <div class="push"></div>
    </div>

  <div class="main-footer">
    <h4>INFO@SQUASH-MATCH.COM <br> copyright 2015</p>
  </div>

</body>
</html>

